Ваш аккаунт успешно активирован. Спасибо за участие.
= @root_url
Если приведенный выше адрес не работает, попробуйте скопировать и вставить в адресную строку браузера. Если по-прежнему есть проблемы, пожалуйста, обращайтесь к нам по почте.
