Спасибо за создание аккаунта! Перейдите по следующей ссылке, чтобы активировать учетную запись и установить пароль.
= @account_activation_url
Если приведенный выше адрес не работает, попробуйте скопировать и вставить в адресную строку браузера. Если по-прежнему есть проблемы, пожалуйста, обращайтесь к нам по почте.
