Запрос на восстановление пароля успешно приянт. Если вы не запрашивали восстановление пароля, то просто проигнорирйте это сообщение.

Если вы запрашивали восстановление пароля, просто нажмите на ссылку ниже:
= @edit_password_reset_url
Если приведенный выше адрес не работает, попробуйте скопировать и вставить в адресную строку браузера. Если по-прежнему есть проблемы, пожалуйста, обращайтесь к нам по почте.
