%fieldset.inputs
  %ol
    %fieldset.inputs
      %ol
        %li#user_password_input.password.optional
          %label{ :for => "user_password" }
            Пароль
          %span
            = link_to "Скрыть", "", :onclick => "$('#passwords').html(''); return false;"
          %input#user_password{ :name => "user[password]", :size => "30", :type => "password" }
        %li#user_password_confirmation_input.password.optional
          %label{ :for => "user_password_confirmation" }
            Повторите пароль
          %input#user_password_confirmation{ :name => "user[password_confirmation]", :size => "30", :type => "password" }

